@import "base";

.img-figures {
  margin: 0;
  margin-bottom: 0.8rem;
}

.img-figures__image {
  max-width: 100%;
}

.img-figures__captions {
  font-size: 0.8rem;
  font-style: italic;
  line-height: 1.2;
}

// definim l'estil de totes les llistes que hi ha a la pàgina
.list--no-style {
  padding-left: 0;
  list-style-type: none;
}

.text-acronyms {
  text-decoration: none;
  cursor: help;
}

// definició de l'estil de la taula resum de l'itinerari
.special-section__summary {
  line-height: 1;
  color: $secondary-color-light;
  background-color: $secondary-color;
  margin-right: 1rem;
  padding: 0.8rem;
  padding-right: 1.8rem;
  padding-left: 1.8rem;
  border-radius: 5px;
  outline: 3px dotted $secondary-color-light;
  outline-offset: -10px;
}

.summary-table__elements {

  //afegim una línia que separi els elements de la llista/taula
  border-bottom: 1px solid $secondary-color-light;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;

  &:last-of-type {
    border-bottom: 0;
  }

  > .summary-table__text {
    margin: 5px auto;
  }
}


@media screen and (min-width: $tablet-min-width) {

  .img-figures__image {
    width: $global-width;
  }

  // pels dispositius més grans es vol que la taula quedi al costat esquerre
  // del text per això es defineix amb una posició relativa i un float left
  .special-section__summary {
    position: relative;
    top: 5px;
    float: left;
    width: calc(80% - 200px);
    max-width: 300px;
    min-width: 200px;
  }
}

@media screen and (min-width: $pc-min-width) {

  .img-figures__image {
    width: $global-width * 0.8;
    max-width: $max-width;
  }
}
