* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 2rem;
  font-family: $font-family-sans-serif;
  font-size: 16px;
  line-height: 24px;
  background-color: $bg;
  color: $primary-color;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.img-croscat {
  margin: 0;
  margin-bottom: 0.8rem;
  font-size: 0.8rem;
  font-style: italic;
}

img {
  max-width: 100%;
}

a {
  color: $link-color;
  text-decoration: none;
  
  &:visited{
    color: $visited-color;
  }

  &:active, &:hover{
    color: $hover-color;
  }
}

.pnzvg {
  text-decoration: none;
  cursor: help;
}


.info-itinerari {
  padding: 0.8rem;
  padding-left: 1.8rem;
  padding-right: 1.8rem;
  margin-right: 1rem;
  line-height: 1;
  color: $bg;
  background-color: $secondary-color;
  border-radius: 5px;
  outline: 3px dotted $bg;
  outline-offset: -10px;

  ul {
    list-style-type: none;
    padding-left: 0;
  }

  li {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    border-bottom: 1px solid $bg;

    &:last-of-type {
      border-bottom: 0;
    }
  }

  p {
    margin: 5px auto;

    .special-link {
      color: $special-link-color;
      text-decoration: none;
      
      &:visited{
        color: $special-visited-color;
      }
    
      &:active, &:hover{
        color: $special-hover-color;
      }
    }
  }

  .info-title {
    font-weight: bold;
  }
}


figcaption,
footer {
  line-height: 1.2;
}

.footer {
  margin-top: 1.5rem;
  font-size: 0.75rem;
  text-align: center;
}

@media screen and (min-width: $tablet-min-width) {
  body {
    width: $global-width;
    text-align: left;
  }

  img {
    max-width: $global-width;
  }

  .info-itinerari {
    float: left;
    width: 200px;
  }
}

@media screen and (min-width: $pc-min-width) {
  body {
    width: $global-width * 0.7;
    text-align: left;
  }

  img {
    max-width: $global-width * 0.7;
  }

  .info-itinerari {
    float: left;
    width: 300px;
  }
}
