<footer class="footer">
    <div class="footer__font">
        <p>
            Informació extreta de la
            <a
                href="https://ca.wikipedia.org/wiki/Volc%C3%A0_del_Croscat"
                target="_blank"
                class="colored-background-link"
                >Viquipèdia
                <i class="fa-solid fa-arrow-up-right-from-square"></i
            ></a>
            i la pàgina de
            <a
                href="https://ca.turismegarrotxa.com/itineraris-i-rutes/grederes-del-volca-del-croscat-itinerari-15-parc-natural-196/"
                target="_blank"
                class="colored-background-link"
                >Turisme Garrotxa
                <i class="fa-solid fa-arrow-up-right-from-square"></i></a
            >. Consultes realitzades el 29 i 30 de març de 2023.
        </p>
        <p>
            Elaborat per Oriol Esquena Calm per a la PAC1 de l'assignatura Eines
            HTML i CSS II del màster de Desenvolupament de Llocs i Aplicacions
            Web de la Universitat Oberta de Catalunya.
        </p>
    </div>
</footer>
