@use "sass:color";

$font-family-sans-serif: "Work Sans", sans-serif;
$font-family-serif: "Georgia", "Times New Roman", serif;

//main color variables
$primary-color: #351702b4;
$secondary-color: #6c7840;
$secondary-color-light: color.scale($secondary-color, $lightness: 90%);

//link color variables
$link-color: color.scale($secondary-color, $saturation: 80%);
$hover-color: color.scale($link-color, $lightness: 20%, $saturation: -30%);
$visited-color: color.scale($link-color, $lightness: -10%);

//colored background link color variables
$colored-bg-link-color: $secondary-color-light;
$colored-bg-hover-color: color.scale($colored-bg-link-color, $lightness: -20%);
$colored-bg-visited-color: $secondary-color-light;

//different devices screen width
$small-width-smartphones: 350px;
$tablet-min-width: 560px;
$pc-min-width: 1200px;

//global page width
$global-width: 60vw;
$max-width: 850px;
