@use "sass:color";

$font-family-sans-serif: 'Work Sans', sans-serif;
$font-family-serif: "Georgia", "Times New Roman", serif;

//main color variables
$primary-color: #351702b4;
$secondary-color: #6c7840;
$secondary-color-light: color.scale($secondary-color, $lightness: 90%);

//link color variables
$link-color: color.scale($secondary-color, $saturation: 80%);
$hover-color: color.scale($link-color, $lightness: 20%, $saturation: -30%);
$visited-color: color.scale($link-color, $lightness: -10%);

//special link color variables
$special-link-color: $secondary-color-light;
$special-hover-color: darken($special-link-color, 20%);
$special-visited-color: $secondary-color-light;

$small-width-smartphones: 350px;
$tablet-min-width: 560px;
$pc-min-width: 1200px;

$global-width: 60vw;
