@use "sass:color";

$font-family-sans-serif: 'Work Sans', sans-serif;
$font-family-serif: "Georgia", "Times New Roman", serif;

//main color variables
$primary-color: #351702b4;
$secondary-color: #6c7840;
$bg: color.scale($secondary-color, $lightness: 90%);

//link color variables
$link-color: #ba4646;
$hover-color: lighten($link-color, 20%);
$visited-color: darken($link-color, 10%);

//special link color variables
$special-link-color: darken($bg, 15%);
$special-hover-color: lighten($special-link-color, 10%);
$special-visited-color: darken($special-link-color, 10%);

$tablet-min-width: 465px;
$pc-min-width: 960px;

$global-width: 60vw;
